<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Videojuego RPG - PixelArt</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script type="module" src="https://unpkg.com/wired-elements?module"></script>
    <link rel="icon" href="/static/uploads/icon.png">
</head>
<body class="fondo">
    {% include 'navbar.html' %}
    <main class="contenedor-principal">
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
</body>
</html>
