{% extends 'base.html' %}
{% block content %}
<h1>Registrar nuevo personaje</h1>

<form action="/players/form" method="post" enctype="multipart/form-data">
    <wired-input name="name" placeholder="Nombre del personaje"></wired-input><br><br>
    <wired-input name="nivel" placeholder="Nivel del jugador"></wired-input><br><br>
    <wired-input name="habilidad" placeholder="Habilidad especial"></wired-input><br><br>
    <input type="file" name="imagen"><br><br>
    <wired-button type="submit">Registrar</wired-button>
</form>
{% endblock %}
