{% extends "base.html" %}

{% block content %}
<h1 class="titulo">{{ titulo }}</h1>
<div class="contenedor-listado">
  {% for elemento in elementos %}
    <div class="card">
      <img src="{{ imagenes[loop.index0 % imagenes|length] }}" alt="Imagen" class="card-img">
      <div class="card-body">
        <h2>{{ elemento.name }}</h2>
        <ul>
          <li><strong>Salud:</strong> {{ elemento.health }}</li>
          <li><strong>Armadura:</strong> {{ elemento.armor }}</li>
          <li><strong>Velocidad:</strong> {{ elemento.speed }}</li>
          <li><strong>Salto:</strong> {{ elemento.jump }}</li>
          <li><strong>Está muerto:</strong> {{ elemento.is_dead }}</li>
        </ul>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
