<div style="display: flex; justify-content: center; gap: 1rem; flex-wrap: wrap; margin-top: 1rem;">
    <wired-button onclick="window.location.href='/'">Inicio</wired-button>
    <wired-button onclick="window.location.href='/players/html'">Personajes</wired-button>
    <wired-button onclick="window.location.href='/enemies/html'">Enemigos</wired-button>
    <wired-button onclick="window.location.href='/players/form'">Crear Personaje</wired-button>
    <wired-button onclick="window.location.href='/dev'">Desarrollador</wired-button>
    <wired-button onclick="window.location.href='/plan'">Planeación</wired-button>
    <wired-button onclick="window.location.href='/design'">Diseño</wired-button>
    <wired-button onclick="window.location.href='/goal'">Objetivo</wired-button>
</div>
